<div class="book-list-container">

  @if (isLoading()) {
    <div class="book-list__spinner">
      <mat-spinner diameter="48"></mat-spinner>
    </div>
  }

  @if (!isLoading()) {
    @if (books().length === 0) {
      <p class="book-list__empty">Aucun livre disponible.</p>
    }

    <div class="book-list__actions">

      <mat-form-field class="search-form-field">
        <mat-label>Rechercher un livre</mat-label>
        <input matInput type="text" [(ngModel)]="value" placeholder="Titre ?" minlength="2" (keyup.enter)="onSearch()">
      </mat-form-field>

      <button mat-stroked-button color="warn" class="book-search-btn" (click)="onSearch()">
        Recherche avancée
      </button>

    </div>

    <div class="book-list__grid">
      @for (book of books(); track book.isbn) {
        <mat-card class="book-card">

          <div class="book-card__layout">

            <div class="book-card__main">

              <mat-card-header>
                <mat-card-title>{{ book.titre }}</mat-card-title>
                <mat-card-subtitle>{{ book.auteur }}</mat-card-subtitle>
              </mat-card-header>

              <mat-card-content class="book-card__content">
                <p class="book-card__description">
                  {{ book.description }}
                </p>

                <p class="book-card__stock">
                  Total d'exemplaire(s) : {{ book.nbExemplaire }}
                </p>

                <button
                  mat-flat-button
                  color="primary"
                  class="book-card__detail-btn"
                  (click)="goToDetail(book.isbn)"
                >
                  Détail
                </button>
              </mat-card-content>

            </div>

            <div class="book-card__image">
              <img
                src="assets/book-placeholder.png"
                alt="Couverture du livre"
                class="book-card__cover"
              />
            </div>

          </div>

        </mat-card>
      }
    </div>

    <mat-paginator
      [length]="totalElements()"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      (page)="onPageChange($event)"
      aria-label="Pagination des livres">
    </mat-paginator>
  }

</div>
